<h1>Sample Errors</h1>

<div>
    <button class="btn btn-outline-primary me-3" (click)="onGet404Error()">Test 404</button>
    <button class="btn btn-outline-primary me-3" (click)="onGet400Error()">Test 400</button>
    <button class="btn btn-outline-primary me-3" (click)="onGet500Error()">Test 500</button>
    <button class="btn btn-outline-primary me-3" (click)="onGet401Error()">Test 401</button>
    <button class="btn btn-outline-primary me-3" (click)="onGet400ValidationErrors()">Test 400 Validation</button>
</div>

<div class="row mt-5" *ngIf="modelValidationErrors && modelValidationErrors.length > 0">
    <p>Test 400 validation error</p>
    <ul class="text-danger">
        <li *ngFor="let error of modelValidationErrors">{{error}}</li>
    </ul>
</div>