/* You can add global styles to this file, and also import other style files */
.title {color: #FF4500;}
.titleHeader { color: #fff;}
.api-url { color: #FF8C00; }
.main-container {
    margin-top: 60px;  
    margin-bottom: 65px; /*with footer*/
}
a.welcome-user, a.welcome-user:link, a.welcome-user:visited, a.welcome-user:hover, a.welcome-user:active { text-decoration: none; color: #FF7F50 !important; }
a.welcome-user:hover { color: #FF4500 !important; cursor: pointer; }
.dropdown-toggle, .dropdown-item {cursor: pointer;}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #FF7F50;
    display: block;
    padding: 0 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
 }

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
  